USE [master]
GO
/****** Object:  Database [QLPHONGTRO_PS24083_TRUONG]    Script Date: 6/8/2022 11:08:07 PM ******/
CREATE DATABASE [QLPHONGTRO_PS24083_TRUONG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPHONGTRO_PS24083_TRUONG_dat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPHONGTRO_PS24083_TRUONG.mdf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'QLPHONGTRO_PS24083_TRUONG_ldf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPHONGTRO_PS24083_TRUONG.ldf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPHONGTRO_PS24083_TRUONG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPHONGTRO_PS24083_TRUONG]
GO
/****** Object:  UserDefinedFunction [dbo].[ASMY3_2B]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ASMY3_2B]
(@MAND NVARCHAR(15), @TENND NVARCHAR(30) , @DCHI NVARCHAR(100) ,@GIOITINH BIT,@DT NVARCHAR(12),@NS DATE,@EMAIL NVARCHAR(30))
RETURNS NVARCHAR(5)
AS
BEGIN
	RETURN (SELECT MANGUOIDUNG FROM NGUOIDUNG WHERE MANGUOIDUNG =@MAND AND TENNGUOIDUNG =@TENND AND DCHIA LIKE @DCHI AND DIENTHOAI =@DT AND NGAYSINH = @NS AND EMAIL = @EMAIL) 
END
GO
/****** Object:  UserDefinedFunction [dbo].[ASMY3_2CC]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ASMY3_2CC] (@MA INT)
 RETURNS @T TABLE(LIKES INT , DISLIKE INT)
 AS
 BEGIN 
	DECLARE @L INT , @D INT
	SET @L = (SELECT COUNT(DANHGIA)  FROM NHATRO NT JOIN DANHGIA DG ON NT.MANHATRO = DG.NHATRO
	WHERE DANHGIA = 1 AND MANHATRO = @MA)
	SET @D = (SELECT COUNT(DANHGIA)  FROM NHATRO NT JOIN DANHGIA DG ON NT.MANHATRO = DG.NHATRO
	WHERE DANHGIA = 0 AND MANHATRO = @MA)
	INSERT  INTO @T VALUES (@L,@D) 
	RETURN
 END
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANGUOIDUNG] [nvarchar](15) NOT NULL,
	[TENNGUOIDUNG] [nvarchar](30) NOT NULL,
	[DCHIA] [nvarchar](100) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIENTHOAI] [nvarchar](12) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATRO]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATRO](
	[MANHATRO] [int] NOT NULL,
	[MOTA] [nvarchar](100) NULL,
	[DCHIA] [nvarchar](100) NOT NULL,
	[GIAPHONG] [float] NOT NULL,
	[DIENTICH] [float] NOT NULL,
	[NGAYDANG] [date] NOT NULL,
	[NGLIENHE] [nvarchar](15) NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[PHISINHHOAT] [float] NOT NULL,
	[LOAITRO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHATRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[NGDANHGIA] [nvarchar](15) NOT NULL,
	[NHATRO] [int] NOT NULL,
	[DANHGIA] [bit] NULL,
	[NOIDUNGDANHGIA] [nvarchar](150) NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[NGDANHGIA] ASC,
	[NHATRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LUOTLIKE]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LUOTLIKE] 
AS 
SELECT TOP(10) DIENTICH,GIAPHONG,MOTA,NGAYDANG, TENNGUOIDUNG,NHATRO.DCHIA,DIENTHOAI,EMAIL,COUNT(DANHGIA)  AS 'LUOT LIKE' FROM NHATRO JOIN NGUOIDUNG ON NGUOIDUNG.MANGUOIDUNG = NHATRO.NGLIENHE JOIN
DANHGIA ON DANHGIA.NHATRO = NHATRO.MANHATRO
WHERE DANHGIA = 1
GROUP BY MANHATRO, DIENTICH,GIAPHONG,MOTA,NGAYDANG, TENNGUOIDUNG,NHATRO.DCHIA,DIENTHOAI,EMAIL 
ORDER BY COUNT(DANHGIA) DESC 
GO
/****** Object:  Table [dbo].[LOAINHATRO]    Script Date: 6/8/2022 11:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHATRO](
	[MALOAITRO] [int] NOT NULL,
	[TENLOAITRO] [nvarchar](30) NOT NULL,
	[THONGTIN] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANHGIA] ([NGDANHGIA], [NHATRO], [DANHGIA], [NOIDUNGDANHGIA]) VALUES (N'ND001', 4545, 1, N'Phong rất tiện nghi, dịch vụ rất tốt , nhân viên than thiện,an ninh, giá cả hợp lý')
INSERT [dbo].[DANHGIA] ([NGDANHGIA], [NHATRO], [DANHGIA], [NOIDUNGDANHGIA]) VALUES (N'ND003', 1002, 0, N'trọ , toàn là nhậu , ca hát , tới 1 2h chưa đi ngủ được, thật là chán nản, chủ trọ không xử lý')
INSERT [dbo].[DANHGIA] ([NGDANHGIA], [NHATRO], [DANHGIA], [NOIDUNGDANHGIA]) VALUES (N'ND005', 1242, 1, N'Khu này im lặng dễ ngủ, hay la ca hát cũng không phiền tới ai')
GO
INSERT [dbo].[LOAINHATRO] ([MALOAITRO], [TENLOAITRO], [THONGTIN]) VALUES (331, N'Trọ bình dân', N'Mức giá phù hợp với sinh viên, công nhân')
INSERT [dbo].[LOAINHATRO] ([MALOAITRO], [TENLOAITRO], [THONGTIN]) VALUES (445, N'VINHOME', N'Hiện đai cao cấp,giaothoong thuận lợi')
INSERT [dbo].[LOAINHATRO] ([MALOAITRO], [TENLOAITRO], [THONGTIN]) VALUES (665, N'Trọ cao cấp', N'khu vực ở rộng rãi thông thoáng,co trang bị thiết bị đầy đủ')
GO
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [TENNGUOIDUNG], [DCHIA], [GIOITINH], [DIENTHOAI], [NGAYSINH], [EMAIL]) VALUES (N'ND001', N'Nguyễn Văn Nam', N'26 Võ Văn Ngân , Thủ Đức ,TPHCM', 1, N'0367345982', CAST(N'1990-04-23' AS Date), N'nam123@gmail.com')
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [TENNGUOIDUNG], [DCHIA], [GIOITINH], [DIENTHOAI], [NGAYSINH], [EMAIL]) VALUES (N'ND002', N'Nguyễn Văn Minh', N'13 Dakao ,Quận 1 ,TPHCM', 1, N'0389123678', CAST(N'1997-02-13' AS Date), N'minhridkid99@outlook.com')
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [TENNGUOIDUNG], [DCHIA], [GIOITINH], [DIENTHOAI], [NGAYSINH], [EMAIL]) VALUES (N'ND003', N'Đoàn Thị Như', N'123 Nguyễn Phú Xuân , Bà Rịa-Vũng Tàu', 0, N'0093456533', CAST(N'1995-03-03' AS Date), N'nhưdoan23@yahoo.com')
GO
INSERT [dbo].[NHATRO] ([MANHATRO], [MOTA], [DCHIA], [GIAPHONG], [DIENTICH], [NGAYDANG], [NGLIENHE], [TRANGTHAI], [PHISINHHOAT], [LOAITRO]) VALUES (1002, N'cạnh khu công nghiệp Mỹ Phước 2 ,dãy đối diện nhau, đường ra 2M', N'DB9, Phường Mỹ Phước ,Tx Bến Cát, Bình Dương', 1200, 12, CAST(N'2021-03-25' AS Date), N'ND001', N'Còn 14 Phòng Trống', 250, 331)
INSERT [dbo].[NHATRO] ([MANHATRO], [MOTA], [DCHIA], [GIAPHONG], [DIENTICH], [NGAYDANG], [NGLIENHE], [TRANGTHAI], [PHISINHHOAT], [LOAITRO]) VALUES (1242, N'canh khu công nghệ cao ,cầu vành đai', N'N12, Khuc C , KCN Công Nghệ Cao, Quận 9 , TPHCM', 3000, 20, CAST(N'2022-03-01' AS Date), N'ND001', N'Còn  3 Phòng  Trống', 350, 665)
INSERT [dbo].[NHATRO] ([MANHATRO], [MOTA], [DCHIA], [GIAPHONG], [DIENTICH], [NGAYDANG], [NGLIENHE], [TRANGTHAI], [PHISINHHOAT], [LOAITRO]) VALUES (3142, N'Tòa Mường Thanh C , Tầng 21', N'12 Dakao ,Quận 1 ,TPHCM', 8000, 65, CAST(N'2021-12-04' AS Date), N'ND001', N'Còn 2 Phòng', 1000, 890)
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDANGGIA] FOREIGN KEY([NGDANHGIA])
REFERENCES [dbo].[NGUOIDUNG] ([MANGUOIDUNG])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_NGUOIDANGGIA]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_NHATRO] FOREIGN KEY([NHATRO])
REFERENCES [dbo].[NHATRO] ([MANHATRO])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_NHATRO]
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD  CONSTRAINT [FK_LOAITRO] FOREIGN KEY([LOAITRO])
REFERENCES [dbo].[LOAINHATRO] ([MALOAITRO])
GO
ALTER TABLE [dbo].[NHATRO] CHECK CONSTRAINT [FK_LOAITRO]
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG] FOREIGN KEY([NGLIENHE])
REFERENCES [dbo].[NGUOIDUNG] ([MANGUOIDUNG])
GO
ALTER TABLE [dbo].[NHATRO] CHECK CONSTRAINT [FK_NGUOIDUNG]
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD CHECK  (([DIENTICH]>(8)))
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD CHECK  (([GIAPHONG]>(1000)))
GO
/****** Object:  StoredProcedure [dbo].[ADDDATADANHGIA]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDDATADANHGIA] @NGDG NVARCHAR(15),@NTRO INT , @DG NVARCHAR(15), @ND NVARCHAR(150)
AS
BEGIN
BEGIN TRY
		INSERT INTO DANHGIA(NGDANHGIA,NHATRO,DANHGIA,NOIDUNGDANHGIA)
		VALUES (@NGDG,@NTRO,@DG,@ND)
		PRINT N'THÊM THÀNH CÔNG'
	END TRY
	BEGIN CATCH
		PRINT N'THÊM THẤT BẠI'
			PRINT	CASE error_number() 
				when 2627 then N'Trùng khóa chính'
				when 547 then N'Mã phòng trùng'
				when 515 then N'Rỗng'
				else N'Lỗi '+ error_message()
			END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ADDDATANGUOIDUNG]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDDATANGUOIDUNG]
@MA NVARCHAR(15) , @TEN NVARCHAR(30), @DCHI NVARCHAR(100), @GTINH BIT, @DT NVARCHAR(12),@NS DATE,@EMAIL NVARCHAR(30)
AS 
BEGIN 
	BEGIN TRY
		INSERT INTO NGUOIDUNG(MANGUOIDUNG,TENNGUOIDUNG,DCHIA,GIOITINH,DIENTHOAI,NGAYSINH,EMAIL)
		VALUES(@MA,@TEN,@DCHI,@GTINH,@DT,@NS,@EMAIL)
		PRINT N'THÊM THÀNH CÔNG'
	END TRY
	BEGIN CATCH
		PRINT N'THÊM THẤT BẠI'
			PRINT	CASE error_number() 
				when 2627 then N'Trùng khóa chính'
				when 547 then N'Mã phòng trùng'
				when 515 then N'Rỗng'
				else N'Lỗi '+ error_message()
			END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ADDDATANHATRO]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDDATANHATRO]
@MA INT,@MOTA NVARCHAR(100) , @DCHI NVARCHAR(100), @GIA FLOAT,@DT FLOAT, @NGAY DATE, @NGLH NVARCHAR(15),
@TRTHAI NVARCHAR(20),@PHISH FLOAT,@LOAITRO INT
AS
BEGIN
	BEGIN TRY
		INSERT INTO NHATRO(MANHATRO,MOTA,DCHIA,GIAPHONG,DIENTICH,NGAYDANG,NGLIENHE,TRANGTHAI,PHISINHHOAT,LOAITRO)
		VALUES (@MA,@MOTA,@DCHI,@GIA,@DT,@NGAY,@NGLH,@TRTHAI,@PHISH,@LOAITRO)
		PRINT N'THÊM THÀNH CÔNG'
	END TRY
	BEGIN CATCH
		PRINT N'THÊM THẤT BẠI'
			PRINT	CASE error_number() 
				when 2627 then N'Trùng khóa chính'
				when 547 then N'Mã phòng trùng'
				when 515 then N'Rỗng'
				else N'Lỗi '+ error_message()
			END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ASMY3_2A]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ASMY3_2A] @DCHIA NVARCHAR(100), @DTMIN FLOAT, @DTMAX FLOAT , @NGAYMIN DATE,@NGAYMAX DATE, @GIAMIN FLOAT,
@GIAMAX FLOAT,
@LOAINHATRO INT
AS
BEGIN
	BEGIN TRY
			SELECT 
			N'Cho thuê phòng trọ tai : ' + NHATRO.DCHIA , -- NVARCHAR
			FORMAT(DIENTICH,'0.0') + 'm2' as 'Dien tich ', -- VARCHAR
			FORMAT(GIAPHONG , '#,##0') as 'Gia Tien', -- VARCHAR
			MOTA,
			CONVERT(VARCHAR,NGAYDANG,105) as 'Ngay Dang',-- VARCHAR
			IIF(GIOITINH =1 ,
			'A.' + RIGHT(TENNGUOIDUNG,CHARINDEX(' ',REVERSE(TENNGUOIDUNG))-1),
			'C.' +RIGHT(TENNGUOIDUNG,CHARINDEX(' ',REVERSE(TENNGUOIDUNG))-1)),--NVARCHAR
			DIENTHOAI, -- VARCHAR
			NGUOIDUNG.DCHIA -- NVARCHAR
			FROM NHATRO JOIN NGUOIDUNG ON NHATRO.NGLIENHE = NGUOIDUNG.MANGUOIDUNG	
			WHERE NHATRO.DCHIA = @DCHIA AND DIENTICH BETWEEN @DTMIN AND @DTMAX AND
			NGAYDANG BETWEEN @NGAYMIN AND @NGAYMAX AND GIAPHONG BETWEEN @GIAMIN AND @GIAMAX AND LOAITRO = @LOAINHATRO
			PRINT N'CÓ' + CAST(@@ROWCOUNT AS VARCHAR) + N'THỎA YÊU CẦU'	
	END TRY
	BEGIN CATCH
	PRINT N'LOI'
		PRINT	CASE ERROR_NUMBER()
			when 2627 then N'Trùng khóa chính'
			when 547 then N'Mã phòng trùng'
			when 515 then N'Rỗng'
			else N'Lỗi '+ ERROR_MESSAGE()
		END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ASMY3_2C]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ASMY3_2C] @MANT INT
AS 
BEGIN
	SELECT NHATRO ,TENNGUOIDUNG, N'DANH GIA' = CASE  DANHGIA
	WHEN   1  THEN N'THÍCH'
	ELSE N'KHÔNG THÍCH'
	END
	,NOIDUNGDANHGIA  FROM DANHGIA JOIN NGUOIDUNG ON NGUOIDUNG.MANGUOIDUNG = DANHGIA.NGDANHGIA
	WHERE NHATRO = @MANT
END
GO
/****** Object:  StoredProcedure [dbo].[ASMY3B]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ASMY3B] @NGAYMIN DATE, @NGAYMAX DATE 
 AS
 BEGIN
	BEGIN TRAN
	BEGIN TRY
	
	IF EXISTS ( SELECT MANHATRO FROM NHATRO WHERE NGAYDANG BETWEEN @NGAYMIN AND @NGAYMAX)
		BEGIN
			DELETE FROM NHATRO WHERE  NGAYDANG BETWEEN @NGAYMIN AND @NGAYMAX
			PRINT N'XÓA THÀNH CÔNG' + CAST(@@ROWCOUNT AS VARCHAR) + N'SỐ DÒNG THỰC HIỆN'
		END
		ELSE
		PRINT N'KHÔNG XÓA ĐƯỢC , KHÔNG CÓ NHA TRỌ TRONG KHOẢNG THOI GIAN DO'
	COMMIT
	END TRY
	BEGIN CATCH 
	ROLLBACK
	PRINT N'lỖI' + ERROR_MESSAGE()
	END CATCH
 END
GO
/****** Object:  StoredProcedure [dbo].[DLETEDISLIKE]    Script Date: 6/8/2022 11:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[DLETEDISLIKE] @DISLIKE INT
 AS

 BEGIN
	BEGIN TRY
		DECLARE @SLDLS TABLE(MA INT, DL INT)
		-- BANG CÓ MA NHA TRO VA LUOT DISLIKE LON HON DISLIKE NHAP VAO
		INSERT INTO @SLDLS
		SELECT MANHATRO , COUNT(DANHGIA) FROM NHATRO JOIN DANHGIA ON DANHGIA.NHATRO = NHATRO.MANHATRO WHERE DANHGIA =0 GROUP BY MANHATRO HAVING COUNT(DANHGIA) > @DISLIKE
			 BEGIN TRAN
				 DELETE FROM DANHGIA WHERE NHATRO IN (SELECT MA  FROM @SLDLS)
				 DELETE FROM NHATRO WHERE MANHATRO IN (SELECT MA  FROM @SLDLS)
				 PRINT N'XÓA THÀNH CÔNG'
			COMMIT TRAN
	END TRY
	BEGIN CATCH 
	ROLLBACK TRAN
	 PRINT N'XÓA kHÔNG THÀNH CÔNG'
	PRINT N'lỖI' + ERROR_MESSAGE()
	END CATCH
 END
GO
USE [master]
GO
